		body{
		background-color:lavender;
		}

		h1 {
			color: yellow;
		}
		#WorldColor{
		color:tomato;
		}

		#MainTable {
			Height:200px;
			Width:1000px;
			color:black;
			background-color:violet;
			border:3px solid black;
		}