nav{ 
	height:50px;
	width:200px;
	background:MediumPurple;
	font-family: Tahoma;
	line-height:50px;
	color:white;
	text-align:center;
	border-radius:20px;
	box-shadow:10px 10px 10px grey;
	text-shadow:3px 3px black;

}

nav>ul{
	padding:0;
	list-style-type:none;
}