*{
    margin:0;
    padding:0;
}

html, body {
  background: #e0e0e0;
  overflow: hidden;
  max-width:600px;
  margin:50px auto;
}

    .menu{
        position:absolute;
        width: 300px;
        height: 300px;
        left:50%;
        top: 50%;
        margin: -150px 0 0 -150px;
        border-radius:100%;
        list-style:none;
        font-size: 200%;
        transform:rotate(360deg);
        transition:.5s ease-in-out;
        overflow: hidden;
}

   .menu:after{
        content:' ';
        position:absolute;
        top:50%;
        left:50%;
        z-index:6;
        display:block;
        width:100px;
        height:100px;
        border-radius:50%;
        margin:-50px 0 0 -50px;
        background:white;
        box-shadow:0 0 0 10px #b2b9c6;
        transition:.5s ease-in-out;
    }

    .menu:hover{
            transform:rotate(30deg);
        }

    .menu:hover:after{
        width:150px;
        height:150px;
        margin:-75px 0 0 -75px;
        box-shadow:0 0 0 0 #b2b9c6;
            }

.menu-item{
        position:absolute;
        top:50%;
        left:50%;
        z-index:0;
        display:block;
        width:300px;
        height:300px;
        margin:-150px 0 0 -150px;
        border-radius:100%;
        background:blue;
        clip:rect(0,300px,150px,150px);
        transform:rotate(0deg) scale(0);
        transition:.55s easy-out;
    }

        .menu-item:nth-child(1){
            z-index:6;
            background:#B048B5;
            border: 1px solid whitesmoke;
        }
        .menu-item:nth-child(2){
            z-index:5;
            background:#B048B5;
            transition-delay:.15s;
            border: 1px solid white;
        }
        .menu-item:nth-child(3){
            z-index:4;
            background:#B048B5;
            transition-delay:.25s;
            border: 1px solid white;
        }
        .menu-item:nth-child(4){
            z-index:3;
            background:#B048B5;
            transition-delay:.35s;
            border: 1px solid white;
        }
        .menu-item:nth-child(5){
            z-index:2;
            background:#B048B5;
            transition-delay:.45s;
            border: 1px solid white;
        }
        .menu-item:nth-child(6){
            z-index:1;
            background:#B048B5;
            transition-delay:.55s;
            border: 1px solid white;
        }

        .menu:hover .menu-item:nth-child(1){
            transform:rotate(-30deg) skew(-30deg) ;
        }
        .menu:hover .menu-item:nth-child(2){
            transform:rotate(30deg) skew(-30deg) ;
        }
        .menu:hover .menu-item:nth-child(3){
            transform:rotate(90deg) skew(-30deg) ;
        }
        .menu:hover .menu-item:nth-child(4){
            transform:rotate(150deg) skew(-30deg) ;
        }
        .menu:hover .menu-item:nth-child(5){
            transform:rotate(210deg) skew(-30deg) ;
        }
        .menu:hover .menu-item:nth-child(6){
            transform:rotate(270deg) skew(-30deg) ;
        }

        .menu-item:hover {
  background: #D462FF;
}
