* {padding:0px;
margin:0px;
}



#top_nav{
		position:absolute;
     	top:0px;
	 	left:0px;
		height:50px;
		width:200px;
		margin:3px;	 	
		border-radius:20px;
		font-family: Tahoma;
		line-height:50px;
		text-align:center;
		background: rgb(0, 255, 0);
		opacity: 0.5;
		color:white;
		box-shadow: 10px 10px 5px grey;
		text-shadow:3px 3px black;
		z-index:1;
		transition: width 2s, background 2s;
	}

img {position:absolute;
      top:0px;
	  left:0px;
	  }

#top_nav:hover{
	width:500px;
background:orange;
}
